@import url('https://fonts.googleapis.com/css?family=Francois+One&display=swap');
body{
    background-image: url("texture.png");
    font-family: 'Roboto', sans-serif;
}
table{
    text-align: center;
width: 100%;
}
tr:hover{
    background-color: rgb(97, 25, 25);
}
.prvni{
    height:50px;
    background-color: rgb(255, 150, 30);
}
.prvni:hover{
    background-color: rgb(255, 150, 30);
}

a{
    font-size: 150%;
    text-decoration: none;
    color:white;
}

a:hover{
    font-size: 150%;
    text-decoration: none;
    color:blue;
}

th{
    font-size: 150%;
    text-decoration: none;
    color:white;
}


td{
    text-decoration: none;
    color:white;
}

h1{
    margin: -15px 800px 10px 800px;
    background-color: rgb(255, 150, 30);
    text-decoration: none;
    color:white;
}

.footer{
    position: static;
    text-align: right;
    bottom: 0%;
    right: 16px;
    font-size: 13px;
    color:white;
    font-family: 'Barlow', sans-serif;
}
.dave{
  font-size: 13px;
}
.dave:hover{
    font-size: 13px;
    color:rgb(255, 150, 30);
}

.numberofbans{
    opacity: 0.9;
    border: 5px solid #262626;
    border-radius: 5px;
    font-family: 'Francois One', sans-serif;
    position: fixed;
    left:0%;
    top: 1%;
    background:  #262626;
    color:white;
}
